// app global css in SCSS form
:root {
  --background-main: #003049;
  --background-main-2: #042435;
  --text-color: #fafafa;
  --text-color-2: #fafafab2;
  --secondary-color: #fcbf49;
  --button-main: #d62839;
  --outline-main: #219ebc;
  --extra-color: #f77f00;
  --link-color: #00f736;
  --padding-inline: 185px;
  --item-width: 400px;
  --item-height: 300px;
  --max-width-of-screen: 2000px;
}

body::-webkit-scrollbar {
  display: none;
}
button {
  all: unset;
  cursor: pointer;
  &:active {
    transform: scale(0.97);
  }
}
