// app global css in SCSS form

.j-container {
  padding-inline: 10vw;
}

.q-page-container {
  padding-top: 0 !important;
}
.side-bar {
  &-menu {
    border-radius: 10px;
  }
  &-top-posts {
    border-radius: 10px;
    margin-top: 100px;
  }
}
.q-toolbar {
  padding: 0;
}
.my-card {
  width: 300px;
}
.j-side-bar {
  max-width: 262px;
}
@media only screen and (max-width: 1580px) {
  .j-container {
    padding-inline: 5vw;
  }
}

@media only screen and (max-width: 1405px) {
  .my-card {
    width: 250px;
  }
}

@media only screen and (max-width: 1340px) {
  aside {
    display: none;
  }
  .q-page-container {
    width: 100% !important;
    margin-left: 0;
  }
  .my-card {
    width: 300px;
  }
}

.page-button {
  width: 10px;
  height: 10px;
}
.j-breadcrumbs {
  padding-top: 100px;
  padding-bottom: 20px;
}
.j-form {
  padding: 20px;
  width: 400px;
}

.article-page {
  border-radius: 20px;
}
.image-path,
.image-tag {
  border: 1px dotted black;
  border-radius: 5px;
  padding: 5px;
}
